
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1497516211801'); /* IE9*/
  src: url('iconfont.eot?t=1497516211801#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1497516211801') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1497516211801') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1497516211801#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before { content: "\e6df"; }

.icon-addition_fill:before { content: "\e6e0"; }

.icon-addition:before { content: "\e6e1"; }

.icon-browse_fill:before { content: "\e6e5"; }

.icon-browse:before { content: "\e6e6"; }

.icon-brush:before { content: "\e6e7"; }

.icon-brush_fill:before { content: "\e6e8"; }

.icon-camera_fill:before { content: "\e6e9"; }

.icon-camera:before { content: "\e6ea"; }

.icon-close:before { content: "\e6eb"; }

.icon-collection_fill:before { content: "\e6ec"; }

.icon-collection:before { content: "\e6ed"; }

.icon-coordinates_fill:before { content: "\e6ee"; }

.icon-coordinates:before { content: "\e6ef"; }

.icon-delete_fill:before { content: "\e6f2"; }

.icon-delete:before { content: "\e6f3"; }

.icon-emoji_fill:before { content: "\e6f7"; }

.icon-emoji:before { content: "\e6f8"; }

.icon-enter:before { content: "\e6fb"; }

.icon-enterinto:before { content: "\e6fc"; }

.icon-enterinto_fill:before { content: "\e6fd"; }

.icon-feedback_fill:before { content: "\e6fe"; }

.icon-feedback:before { content: "\e6ff"; }

.icon-homepage_fill:before { content: "\e702"; }

.icon-homepage:before { content: "\e703"; }

.icon-like_fill:before { content: "\e707"; }

.icon-like:before { content: "\e708"; }

.icon-lock_fill:before { content: "\e70b"; }

.icon-lock:before { content: "\e70c"; }

.icon-mail:before { content: "\e70d"; }

.icon-mail_fill:before { content: "\e70e"; }

.icon-message:before { content: "\e711"; }

.icon-message_fill:before { content: "\e712"; }

.icon-mine:before { content: "\e713"; }

.icon-mine_fill:before { content: "\e714"; }

.icon-more:before { content: "\e717"; }

.icon-offline_fill:before { content: "\e719"; }

.icon-offline:before { content: "\e71a"; }

.icon-picture_fill:before { content: "\e720"; }

.icon-picture:before { content: "\e721"; }

.icon-praise_fill:before { content: "\e722"; }

.icon-praise:before { content: "\e723"; }

.icon-prompt_fill:before { content: "\e724"; }

.icon-prompt:before { content: "\e725"; }

.icon-qrcode_fill:before { content: "\e726"; }

.icon-qrcode:before { content: "\e727"; }

.icon-return:before { content: "\e72a"; }

.icon-right:before { content: "\e72b"; }

.icon-scan:before { content: "\e72c"; }

.icon-send:before { content: "\e72d"; }

.icon-setup_fill:before { content: "\e730"; }

.icon-setup:before { content: "\e731"; }

.icon-share_fill:before { content: "\e732"; }

.icon-share:before { content: "\e733"; }

.icon-stealth_fill:before { content: "\e734"; }

.icon-stealth:before { content: "\e735"; }

.icon-success_fill:before { content: "\e736"; }

.icon-success:before { content: "\e737"; }

.icon-switch:before { content: "\e738"; }

.icon-time_fill:before { content: "\e73d"; }

.icon-time:before { content: "\e73e"; }

.icon-translation_fill:before { content: "\e73f"; }

.icon-translation:before { content: "\e740"; }

.icon-trash:before { content: "\e741"; }

.icon-trash_fill:before { content: "\e742"; }

.icon-unlock_fill:before { content: "\e743"; }

.icon-unlock:before { content: "\e744"; }

.icon-search:before { content: "\e747"; }

.icon-packup:before { content: "\e74a"; }

.icon-unfold:before { content: "\e74b"; }

